https://gitlab.com/metapensiero/metapensiero.signal/repository/master/archive.zip
https://gitlab.com/metapensiero/metapensiero.raccoon.node/repository/master/archive.zip
https://gitlab.com/arstecnica/arstecnica.raccoon.autobahn/repository/master/archive.zip
